body {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  border-bottom: 2px solid;
  display: flex;
}
.header a {
  color: black;
}
.create {
}

.makeLayout {
  height: 70vh;
  display: flex;
}
.nav {
  flex: 0.25;
  border-right: 2px solid;
}
.memo {
  flex: 0.75;
  height: 90%;
}
.article {
  height: 80%;
  margin: 2em 5em;
  padding: 1em 3em;
  text-align: center;
  overflow-y: auto;
}
.article p {
  text-align: left;
}
.note {
  background-color: green;
}
#control {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#control li {
  list-style: none;
  padding: 0.5em;
  font-size: 1.5em;
}
#control li:hover {
  opacity: 0.7;
}
